* {
  user-select: none;
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

.start,
.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.radio-choice input[type="radio"] {
  display: none;
}

.radio-choice label {
  display: inline-block;
  color: white;
  background-color: rgb(103, 103, 255);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

.radio-choice input[type="radio"]:checked+label {
  background-color: rgb(178, 95, 255);
}

.result {
  display: flex;
  justify-content: center;
  gap: 50px;
}