* {
  user-select: none;
}

body {
  margin: 0;
}

.start,
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  justify-content: center;
  gap: 30px;
}